/* Starting CSS */
  
  /* Colors ((Pallet?)) */
:root {
    --primary: rgb(18, 20, 23);
    --light: rgba(238, 238, 247, 1);
    --blue: rgb(13, 0, 255);
  }

#button {
    padding-top: .5%;
    line-height: 26px;
    width: 35px;
    height: 18px;
    font-size: 16pt;
    margin-top: 1px;
    margin-left: 2px;
    position:absolute;
    top:0;
    left:0;
    padding-left: .5%;
}
  
body {
    display: flex;
    flex-direction: column;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5%;
    margin: 2;
    font-family: 'Press Start 2P', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: var(--primary);
    background-color: var(--light);
}

img {
  height: 200px;
  width: 200px;
  margin: 0 -50px;
}

.p {
    border-radius: 2px;
    border-color: var(--blue);
}


.content {
    align-content: center;
}

.flex-container {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.sprite {
  text-align: center;
}

.subtitle {
  margin: 0 0 1% -.5%; 
}

.desc {
  color: rgb(255, 61, 61);
  margin: 0;
  padding-left: 0.5%;
}

.spritesContainer {
  background-color: white;
  border: 3px solid var(--blue);
  height: auto;
  width: 100%;
  background-blend-mode: hard-light;
  padding: 3px;
  margin: auto;
  align-items: center;
}

.dexNumContainer {
  display: flex;
  flex-direction: row;
  margin-left: -8px;
  border: 3px solid var(--blue);
  height: auto;
  width: auto;
  background-blend-mode: hard-light;
  padding: 3px;
}

.typesContainer {
  display: flex;
  flex-direction: row;
  margin-top: 4px;
  margin-left: -8px;
  background-color: white;
  border: 3px solid var(--blue);
  height: auto;
  width: auto;
  background-blend-mode: hard-light;
  padding: 3px;
}

.poGoContainer {
  border: 3px solid var(--blue);
  margin-top: 4px;
  margin-left: -8px;
  height: auto;
  width: auto;
}

#top1 {
  border: 5px solid red;
  height: auto;
  width: 100%;
  padding-top: 8px;
  margin: 5px 1px;
  text-align: center;
}

#mid2 {
    background-color: white;
    border: 3px solid var(--blue);
    height: auto;
    width: 100%;
    background-blend-mode: hard-light;
    padding: 5px;
    margin-top: 3px;
}


#bottom1 {
    background-color: white;
    border: 3px solid var(--blue);
    flex-wrap: wrap;
    height: auto;
    width: 100%;
    background-blend-mode: hard-light;
    padding: 5px;
    margin-top: 3px;
}


.hidden {
    display: null;
}

#name {
  padding-left: 5px;
}

#pokeName {
  padding-left: 5px;
}

#pkmnGo {
  font-size: 30px;
}

@media screen and (max-width: 1200px) {
  body {
    padding-top: 5%;
  }
  img {
    width: 164px;
    height: 164px;
    margin: 0 -50px;
  }
}

@media screen and (max-width: 1024px) {
  body {
    padding-top: 10%;
  }
  img {
    margin: 0 -50px;
    height: 120px;
    width: 120px;
  }
}

@media screen and (max-width: 768px) {
  body {
    padding-top: 10%;
  }
  .sprite {
    flex-direction: column;
    margin: 10px 0 0px -50px;
  }
  .sprites {
    flex-direction: column;
    
  }
  img {
    margin: auto;
  }
}

@media screen and (max-width: 480px) {
  body {
    padding-top: 15%;
  }
}
