* {
    box-sizing: border-box;
  }
  
  /* Colors ((Pallet?)) */
  :root {
    --primary: rgb(18, 20, 23);
    --secondary: pink;
    --tertiary: rgba(49, 52, 61, 1);
    --dark: rgba(28, 29, 33, 1);
    --light: rgba(238, 238, 247, 1);
  }
  
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10%;
    margin: 0;
    font-family: 'Press Start 2P', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: var(--primary);
    background-color: var(--light);
  }
  
  .search {
    margin: 30px 0;
  }

.previouslySelected ul {
    background-color: white;
    border: 2px solid red;
}

#previouslySelected {
    margin: 1px;
}

.mainbody {
    margin: 0;
}

.hidden {
    display: null;
}

